/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  text-align: center;
  margin: 0;
  padding: 0;
  color:rgb(23, 22, 22);
  background-color: #f1efef;
  background-image: url('https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fc-ssl.duitang.com%2Fuploads%2Fitem%2F201809%2F05%2F20180905232108_FKJJW.jpeg&refer=http%3A%2F%2Fc-ssl.duitang.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1679173078&t=f978901dca206809615ab98f234f9aaf');
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

a {
  color: #f5ecf7;
  text-decoration: none;
}

.navbar {
  background-color: #67bedb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
}

.navbar a {
  margin: 1em;
}

input {
  background-color: lavender;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding: 0.5em 0.2em;
  width: auto;
  transition: all 0.2s;
  font-size: 1.3rem;
  color: rgb(21, 19, 20);
}

input:active,
input:focus {
  outline: none;

  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

input::placeholder {
  color: rgba(69, 120, 104, 0.5);
  transition: all 0.2s;
}

input:active::placeholder,
input:focus::placeholder {
  color: rgba(255, 255, 255, 0.2);
}

main {
  padding: 2em 0;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
}

input {
  width: 80%;
  margin: 0 1em;
}

button {
  background-color: cornflowerblue;
  padding: 0.2em 1em;
  border: 0;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
}

.store-card {
  max-width: 200px;
  max-height: 250px;
  border-radius: 2px;
  background-color: #b97fa7;
  cursor: pointer;
  transition: all 0.2s;
  margin: 0px 0px 5px 0px;
}

.store-card:hover {
  opacity: 0.8;
}

.store-card .img-wrapper {
  width: auto;
  height: 150px;
}

.store-card img {
  width: 100%;
  height: 190px;
}

.store-card .info-wrapper {
  padding: 10px 0px 0px 0px;
  display: flex;
  justify-content: center;
  margin: 15px 0px 0px 0px;
}

.clothes-card {
  max-width: 250px;
  max-height: 415px;
  border-radius: 2px;
  background-color: #b97fa7;
  cursor: pointer;
  transition: all 0.2s;
  margin: 0px 0px 5px 0px;
}

.clothes-card:hover {
  opacity: 0.8;
}

.clothes-card .img-wrapper {
  width: auto;
  height: 275px;
}

.clothes-card img {
  width: 100%;
  height: 300px;
}

.clothes-card .info-wrapper {
  padding: 10px 0px 5px 0px;
  display: block;
  justify-content: space-around;
  margin: 10px 0px 0px 0px;
}

.container-grid {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-gap: 1em;
  justify-content: center;
}

.genres {
  width: 100%;
}

.genres h2,
.search h2 {
  text-align: center;
}

.game-content .image-container {
  width: 95vw;
  margin: auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1em 0;
}

.image-container div {
  margin: auto;
  width: 90%;
}

.image-container img {
  margin: auto;
  text-align: center;
  width: 100%;
}

.details {
  width: 80%;
  margin: auto;
  text-align: center;
}

.panel {
  display: flex;
  justify-content: space-evenly;
}

.flex-row {
  display: flex;
}
.space {
  justify-content: space-between;
}
